.add{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: beige;

    display: grid;
    grid-template-columns: 30% 70%;
}

.add .key-pairs{
    margin-top: 20px
}

.data-title, .advanced-title{
    margin: 0;
    margin-left: 15px;
    font-size: 2.5em;

    text-transform: lowercase;
}

.add .key-pairs .input-key-pair{
    margin-bottom: 10px;
}

.advanced-title{
   display: flex;
   align-items: center;
   justify-content: flex-start;

   cursor: pointer;
}